/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.layout-container{
  height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
}

.sidebar-custom{
  width: 250px !important;
}

.pad-sidebar{
  margin-left: 250px !important;
  transition: margin-left .5s;
}
.unpad-sidebar{
  margin-left: 0px !important;
  transition: margin-left .5s;
}

@media only screen and (max-width: 768px){
  .pad-sidebar{
    margin-left: 0px !important;
  }
}

.sideBar{
  height: 100vh !important;
}

.ui.icon.menu.item{
  padding-left: 3rem;
  text-align: left;
}